body {
    margin: 0;
    background: #121212;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    width: 320px;
    background: #1f1f1f;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.cover img {
    width: 100%;
    border-radius: 12px;
}

h2 {
    margin: 10px 0 5px;
}

p {
    color: #aaa;
    font-size: 14px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.controls button:hover {
    color: #1db954;
}
